# --- System Files ---
.DS_Store
Thumbs.db

# --- Logic & Environment ---
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example
*.log

# --- IDEs ---
.vscode/
.idea/
*.swp
*.iml

# --- Frontend (Angular/Node) ---
**/node_modules/
**/dist/
**/.angular/
**/.cache/
**/npm-debug.log*
**/yarn-error.log*
**/.editorconfig

# --- Backend (Java/Maven) ---
**/target/
**/*.class
**/*.jar
**/*.war
**/.metadata/
**/.recommenders/
**/remote.properties
**/.settings/
**/.project
**/.classpath